<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log {{ tracker.name }}</title>
</head>
<body>
    <div>
        <!--navbar-->
        <p style="text-align: right;">
            <a href="#">Log Out</a>        
        </p>
        <h1>Hello {{ user.username }}</h1>

        <h2>Log {{ tracker.tracker_name }}</h2>
        
    </div>
    <div>
        <form action="/tracker/{{ tracker.tracker_id }}/create_log" id="tracker-log" method="post">
            <!--Retrieve Tracker Fields from tracker-->
            <label>When</label>
            <input type="datetime-local" name="when" id="time-stamp">
            <!-- <script>
                // document.getElementById('time-stamp').value = (new Date()).format("yyyy-mm-dd HH:MM:ss");
            </script> -->
            <br><br>
            <label>Value</label>
            <input type="number" name="val" required>
            <br><br>
            <label>Notes</label>
            <textarea name="notes">I do something</textarea>
            <br><br>
            <input type="submit" value=" ⭐ Log It   ">
        </form>
        
    </div>
</body>
</html>