<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track-It</title>
</head>
<body>

    <div>
        <h2>Track It</h2>
        <h4>Track and Measure yourself</h4>
    </div>
    <div id="main">
        <h3>Login</h3>
        <form action="/" id="login-form" method="post">
            <div>
                <label>Username</label>
                <input type="text" name="username">
            </div>
            <br>
            <div>
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <br>
            <input type="submit" value="Login">
        </form>
        <a href="/sign_up"><h3>Sign Up</h3></a>
    </div>


</body>
</html>