<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Hello, {{ user.username }}</h1>
    </div>
    <div id="main">
        <table id="all-trackers">
            <thead>
                <th>Tracker</th>
                <th>Last Tracked</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                
                <td>Running</td>
                <td>Yesterday</td>
                <td><a href="#">+LogNewEvent</a></td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                
            </tbody>
        </table>
    </div>
    <div><br><a href="/create_tracker">⭐ Add Tracker </a></div>
</body>
</html>