<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Hello, {{ user.username }}</h1>
    </div>
    <div id="main">
        <table id="all-trackers">
            <thead>
                <th>Tracker</th>
                <th>Last Tracked</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for tracker in user_trackers %}
                <tr>
                <td><a href="/tracker/{{ tracker.tracker_id }}">{{ tracker.tracker_name }}</a></td>
                <td>{{ tracker.last_tracked }}</td>
                <td><a href="#">+LogNewEvent</a></td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div><br><a href="/create_tracker">⭐ Add Tracker </a></div>
    <br>
    <div>
        <ol><h3>List of working routes currently</h3>
            {% for r in wroutes %}        
            <li>{{ r }}</li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>